body {
  margin: 0;
  font-size: 175%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.menu{
  text-align: center;
}
.menulist{
  margin: 0;
}
.menulist li{
  display: inline-block;
  padding: 10px;
}
.menulist a{
  text-decoration: none;
  padding: 15px;
}
.menulist a:hover{
    background-color: green;
    color:white;
}
.current {
  background-color: green;
  color: white;
}
.title{
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 120%;
  color: white;
  background-color: green;
}

hr {
  border: 3px;
  border-style: solid;
  border-color: green;
  border-radius: 5px;
}

.content {
  margin-top: 1%;
  margin-left: 0;
  margin-right: 20%;
  margin-bottom: 50%;
}

h1 {
  display: block;
}

img{
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
.profile_picture{
  float: right;
  border-radius: 10px;
  margin-left: 1%;
  margin-bottom: 2%;
}
.article {
  display: block;
  padding-left: 10%;
  margin-left: 10%;
  margin-top: 5%;
}

table {
  border-collapse: collapse;
  margin-bottom: 5%;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

footer {
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 120%;
  color: white;
  background-color: green;
}

.sus, .control{
  color: gray;
  text-decoration: none;
}
.sus:hover, .control:hover{
  color: blue;
}
